TechFlow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "filters": {
          "labelIds": [
            "INBOX"
          ],
          "q": "test support"
        }
      },
      "type": "n8n-nodes-base.gmailTrigger",
      "typeVersion": 1.2,
      "position": [
        -1024,
        384
      ],
      "id": "76a59ccf-86ac-47d9-930c-8cdb76b559dc",
      "name": "Receive Support Issue",
      "notesInFlow": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "OEUnYDjeenKJGnjh",
          "name": "Gmail account"
        }
      },
      "notes": "Triggered when receiving a Gmail with Subject prefix: test support "
    },
    {
      "parameters": {
        "sendTo": "={{ $('Receive Support Issue').item.json.From }}",
        "subject": "={{ $('Receive Support Issue').item.json.Subject }}",
        "message": "=Thank you for contacting our support team!  We have received your message and created a support ticket for you. Ticket ID: {{ $('Receive Support Issue').item.json.id }}. Our team will respond to your inquiry within 24 hours.  Best regards, Customer Support Team",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        -80,
        -16
      ],
      "id": "01b7b361-c7a4-4161-abce-d9b00a606c6f",
      "name": "Send Verification Gmail",
      "webhookId": "d5dd9725-c78f-4a0c-9fb1-ba4507772cb4",
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "OEUnYDjeenKJGnjh",
          "name": "Gmail account"
        }
      },
      "disabled": true,
      "notes": "Send verification Gmail to the user, in order to inform him that we received his ticket."
    },
    {
      "parameters": {
        "toRecipients": "={{ $('Receive Support Issue').all()[$itemIndex].json.From.match(/[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,}/)?.[0] || $('Receive Support Issue').all()[$itemIndex].json.From }}",
        "subject": "=Re: {{ $('Receive Support Issue').all()[$itemIndex].json.Subject }}",
        "bodyContent": "=Thank you for contacting our support team! We have received your message and created a support ticket for you. Ticket ID: {{ $('Receive Support Issue').all()[$itemIndex].json.id }}. Our team will respond to your inquiry within 24 hours. Best regards, Customer Support Team",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -96,
        192
      ],
      "id": "7ef2a260-b65b-43c2-9a64-e1f241c7bcf8",
      "name": "Send Verification Email",
      "webhookId": "62b700d7-3fff-4e8c-a93a-c87fc1ef0cd4",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5uyWBeFbWN628Tzr",
          "name": "Microsoft Outlook account"
        }
      },
      "disabled": true,
      "notes": "Send verification Email to the user, in order to inform him that we received his ticket."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ ($json.Subject || '').toLowerCase() }}",
                    "rightValue": "billing",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "40aa511e-95c7-453a-a9dc-8466f28b0717"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Billing Issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "9a1cdc0a-3858-4738-a0f6-59b7b1201fce",
                    "leftValue": "={{ ($json.Subject || '').toLowerCase() }}",
                    "rightValue": "technical",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Technical Issue"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "8cac879c-f332-41d8-a308-228ca4875b5c",
                    "leftValue": "={{ ($json.Subject || '').toLowerCase() }}",
                    "rightValue": "law",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Other"
            }
          ]
        },
        "options": {
          "fallbackOutput": 2
        }
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -304,
        368
      ],
      "id": "e8095f1e-3e42-4dd1-a839-2003a9c33522",
      "name": "Cases",
      "alwaysOutputData": false,
      "notes": "Group Issues to different categories:\na) Billing\nb) Technical\nc) Other"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0977RRSVH6",
          "mode": "list",
          "cachedResultName": "1a-billing-issues"
        },
        "text": "=🚨 *Category: OTHER*\n👤 From: {{ $json.From }}\n📧 Subject: {{ $json.Subject }}\n🎯 Assigned to: @maria\n⏰ Priority: Medium\n📋 Ticket ID: {{ $json.id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        560,
        160
      ],
      "id": "8604ed68-50b1-4f37-aa26-260e462b820b",
      "name": "Billing Support Team",
      "webhookId": "56c5bbb3-6550-438b-888b-69e80d4be9c5",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "LT3cJkJLu0Dbxdz6",
          "name": "Slack account 2"
        }
      },
      "notes": "Send a message on slack channel **1a-billing-issues** to inform the support team"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C096DSP8G4T",
          "mode": "list",
          "cachedResultName": "1b-technical-issues"
        },
        "text": "=🚨 *Category: TECHNICAL*\n👤 From: {{ $json.From }}\n📧 Subject: {{ $json.Subject }}\n🎯 Assigned to: @tech-team\n⏰ Priority: Medium\n📋 Ticket ID: {{ $json.id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        560,
        368
      ],
      "id": "90443694-2b06-4c65-8ca4-1c8ddbe71dc6",
      "name": "Technical Support Team",
      "webhookId": "56c5bbb3-6550-438b-888b-69e80d4be9c5",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "LT3cJkJLu0Dbxdz6",
          "name": "Slack account 2"
        }
      },
      "notes": "Send a message on slack channel **1b-technical-issues** to inform the support team"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "value": "C0977RT8Z7S",
          "mode": "list",
          "cachedResultName": "1c-other-issues"
        },
        "text": "=🚨 *Category: OTHER*\n👤 From: {{ $json.From }}\n📧 Subject: {{ $json.Subject }}\n🎯 Assigned to: @maria\n⏰ Priority: Medium\n📋 Ticket ID: {{ $json.id }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [
        560,
        592
      ],
      "id": "9be8ff16-4057-435f-9a83-12a35ec39ef2",
      "name": "Other Support Team",
      "webhookId": "56c5bbb3-6550-438b-888b-69e80d4be9c5",
      "alwaysOutputData": true,
      "credentials": {
        "slackApi": {
          "id": "LT3cJkJLu0Dbxdz6",
          "name": "Slack account 2"
        }
      },
      "notes": "Send a message on slack channel **1c-other-issues** to inform the support team"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "550fb015-145b-40f2-820c-ce18167d9825",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": 0,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -624,
        384
      ],
      "id": "dd413754-c1a3-46bd-b1fa-c64b39563bca",
      "name": "If",
      "notesInFlow": false
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1kD9GRQQogKfNfhQ9BUkFu4I5BdPRRBZVonvAl0I_BMU",
          "mode": "list",
          "cachedResultName": "vip_customers_datasheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kD9GRQQogKfNfhQ9BUkFu4I5BdPRRBZVonvAl0I_BMU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 271346370,
          "mode": "list",
          "cachedResultName": "vip_clients",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1kD9GRQQogKfNfhQ9BUkFu4I5BdPRRBZVonvAl0I_BMU/edit#gid=271346370"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Customer Email",
              "lookupValue": "={{ $json.From.match(/<([^>]+)>/)?.[1] || $json.From }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.6,
      "position": [
        -800,
        384
      ],
      "id": "3f853957-ac16-46fd-83d2-62f49d4e9bbb",
      "name": "Check if Sender IS NOT VIP Customer",
      "alwaysOutputData": true,
      "retryOnFail": false,
      "executeOnce": false,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "JO5YNYipoET43xK5",
          "name": "Google Sheets account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "toRecipients": "={{ $json['Customer Email'] }}",
        "subject": "=Re: {{ $('Receive Support Issue').item.json.Subject }}",
        "bodyContent": "=Dear {{ $json.Company }},\nThank you for contacting us! As a {{ $json['VIP Tier'] }} tier customer, \nyou have access to our instant VIP support chatbot.\n\n🤖 Chat instantly: https://www.chatbase.co/chatbot-iframe/RLmBFQ6DSjK3hMzRiZfGx\n📞 Emergency line: +30 698 310 3833 \n👨‍💼 Your Account Manager: {{ $json['Account Manager'] }}\n\nWe're here to help immediately!",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -112,
        544
      ],
      "id": "f1b2cedf-823e-4ac5-a76a-eb55e19eb9b5",
      "name": "Send a message",
      "webhookId": "02b38de8-3588-4fe5-af6b-ee958d3ea781",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5uyWBeFbWN628Tzr",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#vip-alerts\",\n  \"text\": \"<!channel> 🚨 **URGENT VIP ALERT** 🚨\\n@channel immediate attention required!\",\n  \"attachments\": [{\n    \"color\": \"#ff0000\",\n    \"title\": \"🏆 VIP Customer Support Request - {{$json['VIP Tier']}} Tier\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{$json['Customer Email']}}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{$json['Company']}}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{$json['VIP Tier']}}\", \"short\": true},\n      {\"title\": \"⚡ Priority\", \"value\": \"{{$json['Priority Level']}}\", \"short\": true},\n      {\"title\": \"⏰ SLA\", \"value\": \"{{$json['SLA Hours']}} hours\", \"short\": true},\n      {\"title\": \"📈 Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": true},\n      {\"title\": \"👨‍💼 Manager\", \"value\": \"{{$json['Account Manager']}}\", \"short\": true},\n      {\"title\": \"📝 Instructions\", \"value\": \"{{$json['Special Instructions']}}\", \"short\": false}\n    ],\n    \"footer\": \"VIP Support System | Immediate Response Required\",\n    \"actions\": [{\n      \"type\": \"button\",\n      \"text\": \"Mark as Handled\",\n      \"value\": \"handled\"\n    }]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -336,
        1008
      ],
      "id": "8d6b8a9e-1019-48f8-8c88-5a6866dfd036",
      "name": "Slackbot VIP Channel Request with Push Notifications",
      "notesInFlow": false,
      "notes": "Webhook call to Slack \"VIP App chat-bot\" "
    },
    {
      "parameters": {
        "amount": "={{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 50/100 * 60}}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -176,
        1008
      ],
      "id": "1e34c14d-6b79-403e-9c45-c46e313c6639",
      "name": "Wait",
      "webhookId": "1e8af952-7045-43ca-ab49-6acf0b8dc21d"
    },
    {
      "parameters": {
        "amount": "={{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 0.25 * 60 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        544,
        864
      ],
      "id": "7376442f-7070-47b8-99fc-4095f2001c85",
      "name": "Wait1",
      "webhookId": "4f2cb4d0-fe29-46ba-8380-9bd9c3f5f334"
    },
    {
      "parameters": {
        "amount": "={{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 0.25 * 60 }}"
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1248,
        832
      ],
      "id": "56b1d195-2680-4f14-9a40-3ed2eefa77cd",
      "name": "Wait2",
      "webhookId": "4f2cb4d0-fe29-46ba-8380-9bd9c3f5f334"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#vip-alerts\",\n  \"text\": \"⚠️ SLA WARNING - Response needed soon!\",\n  \"attachments\": [{\n    \"color\": \"warning\",\n    \"title\": \"📊 SLA Progress Alert -  {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 50/100 * 60 }} Minutes Elapsed\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Customer Email'] }}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Company'] }}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['VIP Tier'] }}\", \"short\": true},\n      {\"title\": \"⏰ Time Remaining\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours']  * 0.5 }} hours\", \"short\": true},\n      {\"title\": \"👨‍💼 Manager\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Account Manager'] }}\", \"short\": true},\n      {\"title\": \"📈 Status\", \"value\": \"⚠️ Action needed soon\", \"short\": true},\n      {\"title\": \"📈 Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": true}\n    ],\n    \"footer\": \"SLA Monitoring System | {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 50/100 * 60 }} minutes elapsed\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        416,
        864
      ],
      "id": "7cecfe8e-b6f6-4e40-b160-1ccd749a0976",
      "name": "50% SLA Warning Slack ChatBot Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#vip-alerts\",\n  \"text\": \"🚨 URGENT SLA ALERT - Response needed NOW!\",\n  \"attachments\": [{\n    \"color\": \"#ff6600\",\n    \"title\": \"⚡ URGENT: SLA Deadline Approaching\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Customer Email'] }}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Company'] }}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['VIP Tier'] }}\", \"short\": true},\n      {\"title\": \"⏰ Time Remaining\", \"value\": \"⚠️ Only {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 0.1 * 60 }} minutes left!\", \"short\": true},\n      {\"title\": \"👨‍💼 Account Manager\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Account Manager'] }}\", \"short\": true},\n      {\"title\": \"📞 Action Required\", \"value\": \"🚨 IMMEDIATE RESPONSE NEEDED\", \"short\": true},\n      {\"title\": \"📧 Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": false},\n      {\"title\": \"📝 Instructions\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Special Instructions'] }}\", \"short\": false}\n    ],\n    \"footer\": \"SLA Monitoring | 🚨 {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 0.75 * 60 }} minutes elapsed | {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 0.25 * 60 }} minutes remaining\"\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1120,
        832
      ],
      "id": "9bbc65d8-3703-45cf-ada3-5185a812f223",
      "name": "30% SLA Warning Slack ChatBot Message"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#vip-alerts\",\n  \"text\": \"🔥 SLA VIOLATION! @channel EMERGENCY ESCALATION REQUIRED!\",\n  \"attachments\": [{\n    \"color\": \"#cc0000\",\n    \"title\": \"🚨 EMERGENCY: SLA VIOLATED - {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] }} HOUR DEADLINE EXCEEDED\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Customer Email'] }}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Company'] }}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['VIP Tier'] }}\", \"short\": true},\n      {\"title\": \"⏰ SLA Status\", \"value\": \"🔥 VIOLATED - {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] }} hours exceeded\", \"short\": true},\n      {\"title\": \"👨‍💼 Account Manager\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Account Manager'] }}\", \"short\": true},\n      {\"title\": \"🚨 Escalation Level\", \"value\": \"EXECUTIVE - CEO/CTO Alert\", \"short\": true},\n      {\"title\": \"📧 Original Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": false},\n      {\"title\": \"📝 Special Instructions\", \"value\": \"{{ $('Check if Sender IS NOT VIP Customer').item.json['Special Instructions'] }}\", \"short\": false},\n      {\"title\": \"🎯 Emergency Actions\", \"value\": \"• Call customer immediately: Priority 1\\n• Notify Account Manager: {{ $('Check if Sender IS NOT VIP Customer').item.json['Account Manager'] }}\\n• Executive briefing required\\n• Incident escalation protocol\", \"short\": false}\n    ],\n    \"footer\": \"🚨 SLA VIOLATION | {{ $('Check if Sender IS NOT VIP Customer').item.json['SLA Hours'] * 60 }} minutes OVERDUE | Emergency protocols activated\"\n  }],\n  \"link_names\": true,\n  \"parse\": \"full\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1840,
        784
      ],
      "id": "c8c817a3-c74d-4749-9b32-26cb22de313a",
      "name": "20% SLA Warning Slack ChatBot Message"
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATY3ZmYAZS00MmMxLTA4ZDctMDACLTAwCgAuAAADQLgU7Yl1DEyBa2HzA2qcxAEA6naaQedRpEiFmHathxtmHAAAAgEJAAAA",
          "mode": "list",
          "cachedResultName": "Sent Items",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATY3ZmYAZS00MmMxLTA4ZDctMDACLTAwCgAuAAADQLgU7Yl1DEyBa2HzA2qcxAEA6naaQedRpEiFmHathxtmHAAAAgEJAAAA"
        },
        "limit": 5,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filterBy": "search",
            "search": "={{ $('Receive Support Issue').item.json.From.match(/<([^>]+)>/)?.[1] || $('Receive Support Issue').item.json.From }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        -48,
        1200
      ],
      "id": "51370b23-1513-42fc-8f5a-392d3c9926f3",
      "name": "Get many folder messages",
      "webhookId": "594dbfd4-b77d-459e-b0f8-b788c41b98e6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5uyWBeFbWN628Tzr",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "280957d9-52aa-43cb-a4ab-8bce54c08130",
              "leftValue": "={{$json.bodyPreview.length > 0 && \n  !$json.bodyPreview.toLowerCase().includes('chatbot') &&\n  new Date($json.sentDateTime) > new Date(parseInt($('Receive Support Issue').item.json.internalDate))\n }}",
              "rightValue": "=human_reply",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        1200
      ],
      "id": "d8c62345-56f0-43df-ba83-b2ce74fc97ec",
      "name": "Check If Support Team HAS Responded",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "043fa4da-57db-442c-bc48-d6cf6ccb0267",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        288,
        1184
      ],
      "id": "99bb7fa7-e2ce-4f54-a185-42b14d4f6db8",
      "name": "IF Human Replied STOP"
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATY3ZmYAZS00MmMxLTA4ZDctMDACLTAwCgAuAAADQLgU7Yl1DEyBa2HzA2qcxAEA6naaQedRpEiFmHathxtmHAAAAgEJAAAA",
          "mode": "list",
          "cachedResultName": "Sent Items",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATY3ZmYAZS00MmMxLTA4ZDctMDACLTAwCgAuAAADQLgU7Yl1DEyBa2HzA2qcxAEA6naaQedRpEiFmHathxtmHAAAAgEJAAAA"
        },
        "limit": 5,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filterBy": "search",
            "search": "={{ $('Receive Support Issue').item.json.From.match(/<([^>]+)>/)?.[1] || $('Receive Support Issue').item.json.From }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        672,
        1120
      ],
      "id": "1a9c2f54-6170-4783-8bd7-e7867268c881",
      "name": "Get many folder messages1",
      "webhookId": "594dbfd4-b77d-459e-b0f8-b788c41b98e6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5uyWBeFbWN628Tzr",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "280957d9-52aa-43cb-a4ab-8bce54c08130",
              "leftValue": "={{$json.bodyPreview.length > 0 && \n  !$json.bodyPreview.toLowerCase().includes('chatbot') &&\n  new Date($json.sentDateTime) > new Date(parseInt($('Receive Support Issue').item.json.internalDate))\n }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        816,
        1104
      ],
      "id": "755fd858-2779-45aa-b4f6-3993536e0084",
      "name": "Check If Support Team HAS Responded1",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "043fa4da-57db-442c-bc48-d6cf6ccb0267",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        976,
        1104
      ],
      "id": "fc2f1a0b-e925-41cc-b00d-dbed147cafcd",
      "name": "IF Human Replied STOP1"
    },
    {
      "parameters": {
        "resource": "folderMessage",
        "folderId": {
          "__rl": true,
          "value": "AQMkADAwATY3ZmYAZS00MmMxLTA4ZDctMDACLTAwCgAuAAADQLgU7Yl1DEyBa2HzA2qcxAEA6naaQedRpEiFmHathxtmHAAAAgEJAAAA",
          "mode": "list",
          "cachedResultName": "Sent Items",
          "cachedResultUrl": "https://outlook.office365.com/mail/AQMkADAwATY3ZmYAZS00MmMxLTA4ZDctMDACLTAwCgAuAAADQLgU7Yl1DEyBa2HzA2qcxAEA6naaQedRpEiFmHathxtmHAAAAgEJAAAA"
        },
        "limit": 5,
        "output": "raw",
        "filtersUI": {
          "values": {
            "filterBy": "search",
            "search": "={{ $('Receive Support Issue').item.json.From.match(/<([^>]+)>/)?.[1] || $('Receive Support Issue').item.json.From }}"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        1360,
        1072
      ],
      "id": "a4e7fb5c-8ffe-4fdd-838d-58a6ba681541",
      "name": "Get many folder messages2",
      "webhookId": "594dbfd4-b77d-459e-b0f8-b788c41b98e6",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "5uyWBeFbWN628Tzr",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "280957d9-52aa-43cb-a4ab-8bce54c08130",
              "leftValue": "={{$json.bodyPreview.length > 0 && \n  !$json.bodyPreview.toLowerCase().includes('chatbot') &&\n  new Date($json.sentDateTime) > new Date(parseInt($('Receive Support Issue').item.json.internalDate))\n }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1536,
        1072
      ],
      "id": "aa1684a4-fff1-40a6-93b3-b65bf587e9e9",
      "name": "Check If Support Team HAS Responded2",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "043fa4da-57db-442c-bc48-d6cf6ccb0267",
              "leftValue": "={{ $json.isEmpty() }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1712,
        1056
      ],
      "id": "89c7af89-1da2-4c74-a468-41722653b65b",
      "name": "IF Human Replied STOP2"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            },
            {
              "name": "charset",
              "value": "=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#1a - Billing issues\",\n  \"text\": \"<!channel> 🚨 **URGENT VIP ALERT** 🚨\\n@channel immediate attention required!\",\n  \"attachments\": [{\n    \"color\": \"#ff0000\",\n    \"title\": \"🏆 VIP Customer Support Request - {{$json['VIP Tier']}} Tier\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{$json['Customer Email']}}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{$json['Company']}}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{$json['VIP Tier']}}\", \"short\": true},\n      {\"title\": \"⚡ Priority\", \"value\": \"{{$json['Priority Level']}}\", \"short\": true},\n      {\"title\": \"⏰ SLA\", \"value\": \"{{$json['SLA Hours']}} hours\", \"short\": true},\n      {\"title\": \"📈 Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": true},\n      {\"title\": \"👨‍💼 Manager\", \"value\": \"{{$json['Account Manager']}}\", \"short\": true},\n      {\"title\": \"📝 Instructions\", \"value\": \"{{$json['Special Instructions']}}\", \"short\": false}\n    ],\n    \"footer\": \"VIP Support System | Immediate Response Required\",\n    \"actions\": [{\n      \"type\": \"button\",\n      \"text\": \"Mark as Handled\",\n      \"value\": \"handled\"\n    }]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        176
      ],
      "id": "9ad75128-68c4-418b-91bb-20dc6daffe49",
      "name": "HTTP Request",
      "disabled": true
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjU0MzA5ODIwNywiYWFpIjoxMSwidWlkIjo3ODkyNTMwOCwiaWFkIjoiMjAyNS0wNy0yNVQwNjo1NTo0My4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MzA1NDc0NTksInJnbiI6ImV1YzEifQ.33BmBGKTzaAGleogwVoy-D0IRjlWtFjKmrjbjJvwSgg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"query { boards(ids: [2068403665]) { name columns { id title type settings_str } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        896,
        144
      ],
      "id": "8f3149fb-937f-427e-a281-7ce60cb97d7f",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            },
            {
              "name": "charset",
              "value": "=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#1c - Other issues\",\n  \"text\": \"<!channel> 🚨 **URGENT VIP ALERT** 🚨\\n@channel immediate attention required!\",\n  \"attachments\": [{\n    \"color\": \"#ff0000\",\n    \"title\": \"🏆 VIP Customer Support Request - {{$json['VIP Tier']}} Tier\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{$json['Customer Email']}}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{$json['Company']}}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{$json['VIP Tier']}}\", \"short\": true},\n      {\"title\": \"⚡ Priority\", \"value\": \"{{$json['Priority Level']}}\", \"short\": true},\n      {\"title\": \"⏰ SLA\", \"value\": \"{{$json['SLA Hours']}} hours\", \"short\": true},\n      {\"title\": \"📈 Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": true},\n      {\"title\": \"👨‍💼 Manager\", \"value\": \"{{$json['Account Manager']}}\", \"short\": true},\n      {\"title\": \"📝 Instructions\", \"value\": \"{{$json['Special Instructions']}}\", \"short\": false}\n    ],\n    \"footer\": \"VIP Support System | Immediate Response Required\",\n    \"actions\": [{\n      \"type\": \"button\",\n      \"text\": \"Mark as Handled\",\n      \"value\": \"handled\"\n    }]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        576
      ],
      "id": "fd3cb793-fb2e-4acc-af48-91655813fde1",
      "name": "HTTP Request3",
      "disabled": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://hooks.slack.com/services/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",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-type",
              "value": "application/json"
            },
            {
              "name": "charset",
              "value": "=utf-8"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"#1b - Technical Issue\",\n  \"text\": \"<!channel> 🚨 **URGENT VIP ALERT** 🚨\\n@channel immediate attention required!\",\n  \"attachments\": [{\n    \"color\": \"#ff0000\",\n    \"title\": \"🏆 VIP Customer Support Request - {{$json['VIP Tier']}} Tier\",\n    \"fields\": [\n      {\"title\": \"📧 Customer\", \"value\": \"{{$json['Customer Email']}}\", \"short\": true},\n      {\"title\": \"🏢 Company\", \"value\": \"{{$json['Company']}}\", \"short\": true},\n      {\"title\": \"🏆 VIP Tier\", \"value\": \"{{$json['VIP Tier']}}\", \"short\": true},\n      {\"title\": \"⚡ Priority\", \"value\": \"{{$json['Priority Level']}}\", \"short\": true},\n      {\"title\": \"⏰ SLA\", \"value\": \"{{$json['SLA Hours']}} hours\", \"short\": true},\n      {\"title\": \"📈 Subject\", \"value\": \"{{ $('Receive Support Issue').item.json.Subject }}\", \"short\": true},\n      {\"title\": \"👨‍💼 Manager\", \"value\": \"{{$json['Account Manager']}}\", \"short\": true},\n      {\"title\": \"📝 Instructions\", \"value\": \"{{$json['Special Instructions']}}\", \"short\": false}\n    ],\n    \"footer\": \"VIP Support System | Immediate Response Required\",\n    \"actions\": [{\n      \"type\": \"button\",\n      \"text\": \"Mark as Handled\",\n      \"value\": \"handled\"\n    }]\n  }]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        368
      ],
      "id": "bfe2e939-0d77-4786-b851-211985b03e37",
      "name": "HTTP Request2",
      "disabled": true
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "2068403665",
        "groupId": "new_group29179",
        "name": "task",
        "additionalFields": {
          "columnValues": "={\n  \"email_mkt6qjz1\": {\n    \"email\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.From.includes('<') ? $('Receive Support Issue').all()[$itemIndex].json.From.split('<')[1].split('>')[0] : $('Receive Support Issue').all()[$itemIndex].json.From }}\", \n    \"text\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.From }}\"\n  },\n  \"text9\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.Subject }}\",\n  \"dropdown_mkt6r0k9\": {\"labels\": [\"New\"]},\n  \"priority_1\": {\"index\": 110},\n  \"dropdown_mkt6f3fh\": {\"labels\": [\"Billing Support\"]},\n  \"project_status\": {\"index\": 5}\n}"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1120,
        144
      ],
      "id": "b64ff9f8-f0b9-4e2f-9efb-cda40f90e32b",
      "name": "Create an item in a board's group",
      "credentials": {
        "mondayComApi": {
          "id": "enfHoDIPWVvOUyFf",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjU0MzA5ODIwNywiYWFpIjoxMSwidWlkIjo3ODkyNTMwOCwiaWFkIjoiMjAyNS0wNy0yNVQwNjo1NTo0My4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MzA1NDc0NTksInJnbiI6ImV1YzEifQ.33BmBGKTzaAGleogwVoy-D0IRjlWtFjKmrjbjJvwSgg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"query { boards(ids: [2068403665]) { name columns { id title type settings_str } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        848,
        352
      ],
      "id": "7c69bf8f-ec04-426f-ba21-94e5cdc8875e",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "2068403665",
        "groupId": "new_group29179",
        "name": "task",
        "additionalFields": {
          "columnValues": "={\n  \"email_mkt6qjz1\": {\n    \"email\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.From.includes('<') ? $('Receive Support Issue').all()[$itemIndex].json.From.split('<')[1].split('>')[0] : $('Receive Support Issue').all()[$itemIndex].json.From }}\", \n    \"text\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.From }}\"\n  },\n  \"text9\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.Subject }}\",\n  \"dropdown_mkt6r0k9\": {\"labels\": [\"New\"]},\n  \"priority_1\": {\"index\": 109},\n  \"dropdown_mkt6f3fh\": {\"labels\": [\"Technical Support\"]},\n  \"project_status\": {\"index\": 5}\n}"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1072,
        352
      ],
      "id": "e5a0765a-9dec-4bd4-ab9f-2aa3cb9538bf",
      "name": "Create an item in a board's group1",
      "credentials": {
        "mondayComApi": {
          "id": "enfHoDIPWVvOUyFf",
          "name": "Monday.com account"
        }
      }
    },
    {
      "parameters": {
        "method": "=POST",
        "url": "https://api.monday.com/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "eyJhbGciOiJIUzI1NiJ9.eyJ0aWQiOjU0MzA5ODIwNywiYWFpIjoxMSwidWlkIjo3ODkyNTMwOCwiaWFkIjoiMjAyNS0wNy0yNVQwNjo1NTo0My4wMDBaIiwicGVyIjoibWU6d3JpdGUiLCJhY3RpZCI6MzA1NDc0NTksInJnbiI6ImV1YzEifQ.33BmBGKTzaAGleogwVoy-D0IRjlWtFjKmrjbjJvwSgg"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"query\": \"query { boards(ids: [2068403665]) { name columns { id title type settings_str } } }\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        864,
        592
      ],
      "id": "8e450d11-b896-447e-ae89-b0d1fe2d47f8",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "resource": "boardItem",
        "boardId": "2068403665",
        "groupId": "new_group29179",
        "name": "task",
        "additionalFields": {
          "columnValues": "={\n  \"email_mkt6qjz1\": {\n    \"email\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.From.includes('<') ? $('Receive Support Issue').all()[$itemIndex].json.From.split('<')[1].split('>')[0] : $('Receive Support Issue').all()[$itemIndex].json.From }}\", \n    \"text\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.From }}\"\n  },\n  \"text9\": \"{{ $('Receive Support Issue').all()[$itemIndex].json.Subject }}\",\n  \"dropdown_mkt6r0k9\": {\"labels\": [\"New\"]},\n  \"priority_1\": {\"index\": 109},\n  \"dropdown_mkt6f3fh\": {\"labels\": [\"Other Issues\"]},\n  \"project_status\": {\"index\": 5}\n}"
        }
      },
      "type": "n8n-nodes-base.mondayCom",
      "typeVersion": 1,
      "position": [
        1120,
        576
      ],
      "id": "42a2565e-d434-4f0d-aa88-d08e11f42aac",
      "name": "Create an item in a board's group2",
      "credentials": {
        "mondayComApi": {
          "id": "enfHoDIPWVvOUyFf",
          "name": "Monday.com account"
        }
      }
    }
  ],
  "pinData": {
    "Receive Support Issue": [
      {
        "json": {
          "id": "1984797cc062a812",
          "threadId": "1984797cc062a812",
          "snippet": "law",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 10638,
          "historyId": "30224",
          "internalDate": "1753547785000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Spilios Spiliopoulos <spiliospiliopoulos@hotmail.com>",
          "To": "\"sphliossp@gmail.com\" <sphliossp@gmail.com>",
          "Subject": "test support other"
        }
      },
      {
        "json": {
          "id": "198479794199b6f0",
          "threadId": "198478473442daed",
          "snippet": "sdd",
          "payload": {
            "mimeType": "multipart/alternative"
          },
          "sizeEstimate": 10690,
          "historyId": "30179",
          "internalDate": "1753547771000",
          "labels": [
            {
              "id": "INBOX",
              "name": "INBOX"
            },
            {
              "id": "CATEGORY_PERSONAL",
              "name": "CATEGORY_PERSONAL"
            },
            {
              "id": "UNREAD",
              "name": "UNREAD"
            }
          ],
          "From": "Spilios Spiliopoulos <spiliospiliopoulos@hotmail.com>",
          "To": "\"sphliossp@gmail.com\" <sphliossp@gmail.com>",
          "Subject": "test support technical"
        }
      }
    ]
  },
  "connections": {
    "Receive Support Issue": {
      "main": [
        [
          {
            "node": "Check if Sender IS NOT VIP Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cases": {
      "main": [
        [
          {
            "node": "Billing Support Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Technical Support Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Other Support Team",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Cases",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Verification Gmail",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Verification Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Slackbot VIP Channel Request with Push Notifications",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check if Sender IS NOT VIP Customer": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slackbot VIP Channel Request with Push Notifications": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Get many folder messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "Get many folder messages1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "Get many folder messages2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "50% SLA Warning Slack ChatBot Message": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "30% SLA Warning Slack ChatBot Message": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many folder messages": {
      "main": [
        [
          {
            "node": "Check If Support Team HAS Responded",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Support Team HAS Responded": {
      "main": [
        [
          {
            "node": "IF Human Replied STOP",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Human Replied STOP": {
      "main": [
        [
          {
            "node": "50% SLA Warning Slack ChatBot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many folder messages1": {
      "main": [
        [
          {
            "node": "Check If Support Team HAS Responded1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Support Team HAS Responded1": {
      "main": [
        [
          {
            "node": "IF Human Replied STOP1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Human Replied STOP1": {
      "main": [
        [
          {
            "node": "30% SLA Warning Slack ChatBot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many folder messages2": {
      "main": [
        [
          {
            "node": "Check If Support Team HAS Responded2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Support Team HAS Responded2": {
      "main": [
        [
          {
            "node": "IF Human Replied STOP2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Human Replied STOP2": {
      "main": [
        [
          {
            "node": "20% SLA Warning Slack ChatBot Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Create an item in a board's group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Verification Email": {
      "main": [
        []
      ]
    },
    "HTTP Request4": {
      "main": [
        [
          {
            "node": "Create an item in a board's group1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request5": {
      "main": [
        [
          {
            "node": "Create an item in a board's group2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "timeSavedPerExecution": 10
  },
  "versionId": "07736817-6ab4-41e2-81b2-0ccafb6e0088",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "80301e87eda4694bfc2f1eec77f76d04146134c58eea081f2a8efe00a56f8b7a"
  },
  "id": "vNFOQLwiSEw3i0wM",
  "tags": []
}